@import 'src/colors'
@import 'src/constants'

.new-transaction
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 20px
  max-width: $form-width

  form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: start
    min-height: 250px

    .switch
      margin: $input-margin
      max-width: 200px

    input
      width: 100%
      height: $input-height

    button
      width: $button-width
      transition: all .2s ease-in-out

    .expense
      background: $red

    .income
      background: $green

    .price-container
      display: flex
      align-items: center
      box-sizing: content-box

      .price
        margin-left: 0

      .currency
        width: $input-height
        text-align: center
        padding: 5px
        margin-right: 0

    #category
      transition: all .2s ease-in-out

    .hidden
      transform: scale(1, 0)
      opacity: 0
      margin: 0
      padding: 0
      height: 0
      visibility: hidden
