@import 'colors'
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap')

*
  box-sizing: border-box

  font-family: 'Inter', serif
  font-size: 30px

  margin: 0
  padding: 0

body
  width: 100vw
  height: 100vh

  display: flex
  align-items: center
  justify-content: center

button
  height: 60px
  border: none
  border-radius: 10px
  background: $special
  color: $white
  margin: 10px

a
  font-size: 24px
  color: $dark
  text-decoration: underline
  padding: 10px

  &:hover
    color: $special
