@import 'src/colors'
@import 'src/constants'
@import 'src/category-colors'

.react-datepicker-wrapper
  width: 100%

  .react-datepicker__input-container input
    width: 100%
    border: 1px solid transparent
    background-color: $white
    border-radius: 10px
    margin: 0 2px
    padding: 2px 0
    color: $purple

    &::placeholder
      color: $dark

.react-datepicker__header
  background: $white

.react-datepicker__day
  color: $black
  border-radius: 20px

  &:hover
    border-radius: 20px

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected
  background-color: $purple
  color: $white

  &:hover
    background-color: darken($purple, 5%)

.react-datepicker__month
  margin: 0

.react-datepicker__current-month
  color: $dark
  font-weight: normal

.react-datepicker__day-name
  color: $dark

.filters
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(2, auto)
  align-items: center
  justify-content: center
  margin: 10px
  padding: 2px 4px
  cursor: pointer
  border-radius: 16px
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0)
  transition: all .1s linear

  &.expanded
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3)

  .search-bar
    grid-column-start: 1
    grid-column-end: 6
    grid-row: 1
    padding: 3px 2px

  .filter
    align-items: center
    display: flex
    justify-content: flex-start
    color: $dark

  .type
    grid-column: 1
    grid-row: 2

  .category
    grid-column: 2
    grid-row: 2

  .place
    grid-column: 3
    grid-row: 2

  .from, .to
    .react-datepicker-wrapper
      width: 100%

    label
      display: flex

  .from
    grid-column: 4
    grid-row: 2

  .to
    grid-column: 5
    grid-row: 2

  svg
    margin: 0
    cursor: pointer
    transition: all .2s
    font-size: 30px

.expense
  color: $red

  svg
    color: $red

.income
  color: $green

  svg
    color: $green

.category-color0
  svg
    color: $red

.category-color1
  svg
    color: $crimson

.category-color2
  svg
    color: $violet

.category-color3
  svg
    color: $purple

.category-color4
  svg
    color: $indigo

.category-color5
  svg
    color: $blue

.category-color6
  svg
    color: $turquoise

.category-color7
  svg
    color: $green

.category-color8
  svg
    color: $light-green

.category-color9
  svg
    color: $yellow

.category-color10
  svg
    color: $orange

.category-color11
  svg
    color: $carrot

.display
  display: none
